.xy-card{
    background: #FFFFFF;
/* Shadows/Soft Shadow/Soft Shadow - Style 1 */
    box-shadow: 0px 0.18rem 0.4rem rgba(112, 144, 176, 0.12);
    border-radius: 0.2rem;
    width:3.58rem;
    height:1.16rem;
}

.xy-card-programName{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.18rem;
    line-height: 0.26rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* grey/dark */
    color: #1C1721;
    margin-left: 0.27rem;
    margin-top: 0.2rem;
}

.xy-card-dayCount{
    margin-left: 0.27rem;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.13rem;
    line-height: 0.19rem;
    /* identical to box height */
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* grey / medium */
    color: #7F8187;
}